[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]  ### alarm hours for extra carbs
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]  ### alarm hours for extra bolus
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]  ### alarm hours for less  bolus
{"bg":6, "target":-6, "iob":6, "cob":-6, "range":-13, "bestslope":-13, "ISF-factors":37, "ISFs":-21, "insReq":13, "SMB":11, "basal":-12}     ### tabular output items; show if >0, skip if <0
